.select {
    width: 100%;

    &__value {
        border: 1px solid #eee;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;
        height: 30px;
        display: flex;
        align-items: center;

        &-container{
            flex: 1;
            display: flex;
            align-items: center;
        }

        &-item {
            font-size: 12px;
            margin: 1px 5px;
            padding: 3px 5px;
            background-color: #eee;
            display: flex;
            width: fit-content;

            &-text {
                flex: 1;
                padding-right: 5px;
            }

            &-clear {
                padding-top: 2px;
                cursor: pointer;
                font-size: 9px;
            }
        }
    }

    &__value--toggled {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &__clear-button {
        font-size: 14px;
        cursor: pointer;
        line-height: 1.6;
    }

    &__toggle-button {
        right: 0px;
        font-size: 22px;
        cursor: pointer;
        line-height: 0.4;
    }
}

.test {
    max-height: 0px;
    overflow: hidden;
}

.test.test2 {
    overflow: initial;
    max-height: 300px;
    border: 1px solid #eee;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.loading-icon {
    display: inline-block;
    width: fit-content;
    animation-name: anim-loading-rotate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes anim-loading-rotate {
    0% { -webkit-transform: rotate(360deg); }
    33% { -webkit-transform: rotate(240deg); }
    66% { -webkit-transform: rotate(120deg); }
    100% { -webkit-transform: rotate(0deg); }
}

.item {
    padding: 3px 6px;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}